
$grid-col-width: 200px;
$grid-image-width: 175px;

$border-color: #000;

img.grid-image {
    width: $grid-image-width;
}

.grid-item {
    border: 1px solid $border-color;
    padding: 3px;
    width: $grid-col-width;
}
