//- File which is for /about requests.

include mixins.pug

- var brokenLink = "http://www.cbronline.com/wp-content/uploads/2017/01/virtual-machines-cyber-security-weak-link.png"

doctype html
html
  +pageHead("About")

  body
    +layoutBase()
      +appTitle()
      +navBarCollapsible("/about")

      h2 About

      div.main
        p
          | Pinterest-clone app for 
          a(href="http://www.freecodecamp.com") FreeCodeCamp 
          | fullstack projects.
        p
          | You can view walls by other users or create your own wall after
          | signing up.
        p
          | You can access the full source code of the project from 
          a(href="http://www.github/tpoikela/fcc-pinterest") GitHub.

        p
          | The original image used for broken links can be found from 
          a(href="" + brokenLink) here.


      +appFooter()
