//- File which is for /grid debugging.

include mixins.pug

doctype html
html
  +pageHead("Grid")

  body
    +layoutBase()
      +appTitle()
      +topMenu("grid")

      h2 Grid

      div.container
        div#grid

      +appFooter()
      script(type="text/javascript" src="/build/bundle-grid.js" charset="utf-8")
