//- Page showing all images of the app.

include mixins.pug

doctype html
html
  +pageHead("Images")

  body
    +layoutBase()
      +appTitle()
      +topMenu("images")

      div#images-top

      +appFooter()

    script(type="text/javascript" src="/build/bundle.js" charset="utf-8")
