//- Main page of the app. Rendered HTML is decided by user login status

include mixins.pug

doctype html
html
  +pageHead("Home")

  body
    +layoutBase()
      +appTitle()
      +topMenu("index")

      .bg-well
        p
          | Join a community of thousands of users!
        - if (isAuth) {
          p
            | Go to 
            a(href='/profile') 'Profile' 
            | to see your profile.
        - }
      +appFooter()

    script(type="text/javascript" src="/build/bundle.js" charset="utf-8")
