//- File which is rendered for logging in as a registered user.

- var failed = typeof loginFailed !== "undefined";

include mixins.pug

doctype html
html
  +pageHead("Login")

  body
    +layoutBase()
      +appTitle()
      +topMenu("login")

      h2 Login

      - if (!failed) {
        p#pw-login-msg Please enter username and password:
      - } else {
        p#pw-login-msg.text-danger Login failed. Please retry.
      - }

      form(method="POST" action="/auth/userlogin")

        div.form-group
          label.label.label-default(for="userNameInput") Username
          input#userNameInput.form-control(
            name="username" type="text" placeholder="Enter username")

        div.form-group
          label.label.label-default(for="userPasswordInput") Password
          input#userPasswordField.form-control(
            name="password" type="password" placeholder="Password")

        button#login-btn.books-btn(type="submit") Login

      br
      p No account yet? Then 
        a(href='/signup') Signup!

      +appFooter()
