//- File which is rendered for profile requests

include mixins.pug

doctype html
html
  +pageHead("Picaterest profile")

  body
    +layoutBase()
      +appTitle()
      +navBarCollapsible("/profile")
      div#profile-app
      +appFooter()

    script(type="text/javascript" src="/build/bundle.js" charset="utf-8")
