//- Page showing all walls of the users

include mixins.pug

doctype html
html
  +pageHead("Walls")

  body
    +layoutBase()
      +appTitle()
      +navBarCollapsible("/walls")

      div#walls-top

      +appFooter()

    script(type="text/javascript" src="/build/bundle.js" charset="utf-8")
